
/__pycache__
/.vscode
/build
/dist
NitroDrivers/.acer_nitro_gaming_driver2.ko.cmd
NitroDrivers/.acer_nitro_gaming_driver2.mod.cmd
NitroDrivers/.acer_nitro_gaming_driver2.mod.o.cmd
NitroDrivers/.acer_nitro_gaming_driver2.o.cmd
NitroDrivers/.Module.symvers.cmd
NitroDrivers/.modules.order.cmd
NitroDrivers/acer_nitro_gaming_driver2.ko
NitroDrivers/acer_nitro_gaming_driver2.mod
NitroDrivers/acer_nitro_gaming_driver2.mod.c
NitroDrivers/acer_nitro_gaming_driver2.mod.o
NitroDrivers/acer_nitro_gaming_driver2.o
NitroDrivers/Module.symvers
NitroDrivers/modules.order
